* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(157, 131, 0);
    background: linear-gradient(
        90deg,
        rgb(182, 152, 2) 17%,
        rgb(240, 245, 107) 100%
    );
}

.footer {
    margin-top: 10vh;
    text-align: center;
    font-size: small;
}
